@font-face {
  font-family: 'MyFont';
  src: url('./assets/fonts/SueEllenFrancisco-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  background-color: rgb(63, 36, 3);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

html,
body,
#app {
  height: 100dvh;
  margin: 0;
  padding: 0;
  font-family: 'MyFont', sans-serif !important;
  overflow: hidden;
}

.container {
  width: 100dvw;
  height: 100dvh;
  position: relative;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  width: 100dvw;
  height: 100dvh;
  background-color: rgb(114, 66, 3);
  background-image:
    url(./assets/cnd-background-mobile.png),
    url(./assets/cnd-border-mobile.png);
  background-attachment: fixed, fixed;
  background-size: 100dvw 100dvh, 100dvw 100dvh;
  position: relative;
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
}

.top-part {
  position: absolute;
  width: 100%;
  height: 6vh;
  top: 0;
  left: 0;
  background-image: url(./assets/cnd-top.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 10;
}

.sign {
  background-image: url(./assets/cnd-logo-sign.png);
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 700px;
  max-height: 200px;
}

.page1 {
  position: absolute;
  width: 70%;
  height: 20%;
  max-width: 400px;
  max-height: 300px;
  top: 25%;
  left: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./assets/Page1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.page1 div {
  color: black;
  font-size: 2rem;
  font-weight: 600;
  z-index: 2;
  position: absolute;
  padding-bottom: 1%;
  top: 1%;
}

.page1 p {
  color: black;
  display: flex;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 1.5rem;
  font-size: 1.25rem;
  z-index: 2;
  line-height: 156%;
}

.page2 {
  position: absolute;
  width: 70%;
  height: 40%;
  min-width: fit-content;
  min-height: fit-content;
  max-height: 400px;
  top: 47vh;
  right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./assets/page2.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.page2 div {
  color: black;
  font-size: 2.3rem;
  font-weight: 600;
  z-index: 2;
  top: 1%;
}

.page2 p {
  color: black;
  font-size: 1.25rem;
  z-index: 2;
  line-height: 156%;
  display: flex;
  margin-block-start: 0%;
}

.email-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.embeddable-buttondown-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
}

#bd-email {
  background-color: antiquewhite;
  border: 1px solid black;
  padding: 5%;
  font-family: 'MyFont', sans-serif;
  width: 10rem;
  border-radius: 4%;
}

#bd-email-btn {
  width: 50%;
  background-color: black;
  border: none;
  border-radius: 5%;
  color: whitesmoke;
  font-family: 'MyFont', sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.letter img {
  position: absolute;
  width: 40%;
  max-width: 250px;
  height: auto;
  bottom: 3vh;
  left: 2vw;
  transform: rotate(-5deg);
}

/* .page3 img {
  position: absolute;
  width: 50%;
  max-width: 200px;
  height: auto;
  bottom: 5%;
  left: 2%;
  transform: rotate(2deg);
}

.page4 img {
  position: absolute;
  width: 50%;
  max-width: 200px;
  height: auto;
  bottom: 2%;
  right: 3%;
  transform: rotate(-3deg);
} */

/* For short screens */
@media (max-height: 821px) {

  .sign {
    top: 15%;
    max-width: 300px;
    height: 100px;
    background-size: 70%;
  }

  .page1 {
    width: 60%;
    height: 12vh;
    min-height: fit-content;
    top: 25vh;
    font-size: 0.9rem;
    max-width: 300px;
    max-height: 180px;
    background-size: cover;
  }

  .page2 {
    top: 45vh;
    right: 10%;
    height: 20vh;
    max-height: 200px;
    max-width: 60%;
  }

  .page1 div,
  .page2 div {
    font-size: 1.2rem;
  }

  .page1 p,
  .page2 p {
    font-size: 1rem;
    margin-top: 4%;
  }

  .letter img {
    width: 40%;
    bottom: 2vh;
    left: 6vw;
  }

  .socials img {
    width: 32px !important;
    height: auto !important;
  }
}


/* Responsive tweaks for large screens */
@media (min-width: 1000px) {

  .board {
    background-image:
      url(./assets/cnd-background.png),
      url(./assets/cnd-border.png);
    background-size: 100vw 100vh, 100vw 100vh;
  }

  .top-part {
    background-size: cover;
    height: 10%;
  }

  .sign {
    top: 30vh;
    left: 50%;
    transform: translateX(-50%, 0);
    width: 40vw;
    max-width: 550px;
    height: 30vh;
    max-height: 500px;
    background-size: 90% auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .page1 {
    top: 30vh;
    left: 8vw;
    width: 60vw;
    max-width: 500px;
    height: 30vh;
    max-height: 350px;
    font-size: 2rem;
    background-size: cover;
  }

  .page2 {
    top: 30vh;
    right: 5vw;
    width: 60vw;
    max-width: 550px;
    height: 50vh;
    max-height: 700px;
    font-size: 2rem;
    background-size: cover;
  }

  .page1 div,
  .page2 div {
    font-size: 4rem;
  }

  .page1 p {
    font-size: 2.1rem;
    margin-top: 5vh;
  }

    .page2 p {
    font-size: 2.1rem;
    margin-top: 1vh;
  }
  .letter img {
    width: 25%;
    max-width: 400px;
    bottom: 8vh;
    left: 35vw;
  }

  #bd-email {
  background-color: antiquewhite;
  border: 1px solid black;
  padding: 5%;
  font-family: 'MyFont', sans-serif;
  width: 20rem;
  border-radius: 4%;
}

#bd-email-btn {
  width: 50%;
  background-color: black;
  border: none;
  border-radius: 5%;
  color: whitesmoke;
  font-family: 'MyFont', sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
}

  .socials img {
    width: 80px !important;
    height: auto !important;
    margin-top: 20%;
  }

  /* .page3,
  .page4 {
    width: 30vw;
    max-width: 350px;
    min-height: 120px;
    font-size: 1.5rem;
  } */
}